@font-face {
    font-family: "Anton";
    src: url("../asset/fonts/Anton-Regular.ttf");
}

font-face {
    font-family: "BlackHanSans";
    src: url("../asset/fonts/BlackHanSans-Regular.ttf");
}


.container-main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 300px 1fr;


    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
}

.title .main-title{
    width: 80%;
    height: 50%;
    margin: auto;
    
}

.title .main-title p{
    -webkit-margin-before: 0;
    -webkit-margin-after:0;
    text-align: center;
}

.title .main-title .main{
    font-size: 120px;
    margin: 0 auto;
    color: white;
    
}


.title .main-title .main p{
    font-family: 'Anton';
    width: 5em;
    height: 100%;
    margin: 0.5em auto 0 auto;
    line-height:100%;
}

.title .main-title .sub{
    font-size: 48px;
    color: white;
}

.title .main-title .sub p{
    font-family: 'BlackHanSans';
    width: 18.5em;
    height: 100%;
    margin: 0.5em auto 0 auto;
    line-height:100%;
}

.menu {
    font-size: 100px;
    margin: auto;
    width: 90%;
    height: 50%;
    /* background-color: rgb(189, 189, 189); */
    border-radius: 3%;
    display: grid;
    grid-template-rows: 50% 50%;
    opacity: 1;

    min-height: 360px;
}

.menu img{
    max-width: 30%;
    height: auto;
    margin: auto auto 0 auto;
    filter: invert(100%) sepia(83%) saturate(222%) hue-rotate(307deg) brightness(122%) contrast(100%);


}

.menu div{
    margin: 0 auto 0 auto;
    font-size: 0.7em;
    color: white;
}